body {
	background: rgb(37, 37, 37);
}

* {
	font-family: sans-serif;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.reset-btn-containr {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

.restart-btn {
	cursor: pointer;
	outline: none;
	border: 1px solid white;
	color: white;
	background: black;
	padding: 0.25rem 0.5rem;
	font-size: 1.3rem;
}

.restart-btn:hover {
	border: 1px solid black;
	color: black;
	background: white;
}

.winning-message {
	margin-top: 0.5em;
	text-align: center;
	font-size: 3rem;
	color: white;
	font-weight: 500;
}
